#content{
    height:50vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color:blue;
}
#content button {
    width: 50%;
    cursor: pointer;
    background-color:red;
    padding: 10px;
    color: black;
    font-size:16px;
    font-weight: 700;
    border: none;
}