<%- include("head") %>
<body>
    <link rel="stylesheet" href="/style.css">
    <div id="content">
        <button onClick="redirect('create')"> Create </button>
        <button onClick="redirect('search')"> Search </button>
    </div>
</body>
<%- include("tail") %>